<style>
    tbody {
        font-size: 10px;
    }

    * {
        margin: 0;
        padding: 0;
    }

    #controle_sistema {
        position: relative;
        top: 0;
        left: 0;
        z-index: 11;
        background-color: #808080;
        width: 100%;
        height: 20%;
        float: left;
    }

    .mesas {
        overflow-y: auto;
        border: 1px solid #000000;
        margin: 2px;
        padding: 1px 20px 20px 20px;
        display: table;
        float: left;
        border-radius: 15px;
        background-color: #ffffff;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

    #controle_mesas {
        position: relative;
        top: 0;
        left: 0;
        z-index: 11;
        width: 100%;
        height: 80%;
        float: right;
    }
</style>
<div class="container" id="principal">
    <div id="controle_sistema">
        <div id="config_mesas">
            <div class="row">
                <h3>.      Abrir Mesa/comanda</h3>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-check">
                        @Html.TextBox("txt_mesa", null, new { @class = "form-control", placeholder = "Numero mesa/Comanda" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a class="btn btn-success btn-alterar" role="button" onclick="addDiv()"><i class="glyphicon glyphicon-plus"></i> Abrir mesa</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check">
                        @Html.TextBox("txt_filtro", null, new { @class = "form-control", placeholder = "Filtrar Mesas" })
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div>
        <br />
        <hr />
    </div>

    <div id="controle_mesas">

        <div onclick="res()" class="mesas">
            <div class="conteudo_mesa">
                <p>05</p>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery.mask.min.js"></script>
<script>

    $(document)
        .ready(function () {
            $('#txt_mesa').focus();
        });

    function addDiv() {
        var divAtual = cloneform = $('#controle_mesas').html();
        var divNova = document.createElement("div");
        divNova.setAttribute("id", $('#txt_mesa').val());
        divNova.setAttribute("class", "mesas");
        divNova.setAttribute("onclick", "res()")
        var conteudoNovo = document.createTextNode($('#txt_mesa').val());
        divNova.appendChild(conteudoNovo); //adiciona o nó de texto à nova div criada
        $('#controle_mesas').append(divNova);// adiciona o novo elemento criado e seu conteúdo ao DOM

    }

    function res() {

        bootbox.dialog({
            title: 'Pedidos ',
            message: 'Vc devia pesquisar mais'
        });

    }

</script>