<style>
    #tela_pedidos {
        background-color: #0094ff;
    }

    #titulo {
        top: 10px;
        text-align: center;
        background-color: rgba(88, 72, 72, 0.25);
        padding-top: initial;
    }

    #pedido {
        overflow-y: auto;
        border: 1px solid #000000;
        width: 250px;
        margin: 5px;
        padding: 1px 20px 20px 20px;
        display: table;
        float: left;
        border-radius: 15px;
        background-color: #ffffff;
    }

    #conteudo {
        max-height: 100%;
        text-align: left;
    }

    #rodape table {
        text-align: center;
        position: absolute;
        bottom: 0;
        padding-bottom: 15px;
    }

    #tab_pedido {
        border: 1px solid #000000;
    }
</style>

<div id="tela_pedidos" class="row">
    <h3 class="text-center">Mesa Pedidos</h3>

    <div id="pedido">
        <div id="titulo">
            <h3>05</h3>
        </div>
        <div id="conteudo">

            <label>1 SUCO NATURAL DE LARANJA 300 ML</label>
            <br />
            <label>2 ANTARTICA BOA 600 ML</label>
            <br />
            <label>1 BATATA 500G</label>
            <br />
            <label>COSTELINHA DE PORCO COM BARBECUE</label>
            <br />
            <label>2 ESPETOS DE MEDALÃO</label>

        </div>

        <hr />
        <div id="rodape" class="text-center">
            <a id="btn_entregue" class="btn btn-success" role="button">
                <i class=" glyphicon glyphicon-glass"></i> Entregue
            </a>
            <a id="btn_cancela" class="btn btn-danger" role="button">
                <i class="glyphicon glyphicon-remove"></i> Cancelar
            </a>
        </div>

    </div>

    <div id="pedido" class="row">
        <div id="titulo">
            <h3>05</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="grid_cadastro" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Qtde</th>
                            <th>Preparar</th>
                            <th>Adcional</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>COSTELINHA DE PORCO COM BARBECUE</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>BATATA 500G</td>
                            <td>CALABRESA</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>SUCO NATURAL DE LARANJA 300 ML</td>
                            <td>S/ AÇUCAR S/GELO</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr />
        <div id="rodape" class="text-center">
            <a id="btn_entregue" class="btn btn-success" role="button">
                <i class="glyphicon glyphicon-cutlery"></i> Entregue
            </a>
            <a id="btn_cancela" class="btn btn-danger" role="button">
                <i class="glyphicon glyphicon-trash"></i> Excluir
            </a>
        </div>

    </div>



</div>

<!--

// font: 100 % /1.6 "Myriad Pro", Frutiger, "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
     #principal {
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 11;
        background-color: #000;
        width: 100%;
        height: auto;
    }

     #pedidos {
        max-height: 200px;
        overflow-y: auto;
    }

    table {
        border-collapse: collapse;
        width: 50em;
        border: 1px solid #666;
    }

    thead {
        background: #ccc repeat-x left center;
        border-top: 1px solid #a5a5a5;
        border-bottom: 1px solid #a5a5a5;
    }

    tr:hover {
        background-color: #3d80df;
        color: #fff;
    }

    thead tr:hover {
        background-color: transparent;
        color: inherit;
    }

    tr:nth-child(even) {
        background-color: #edf5ff;
    }

    th {
        font-weight: normal;
        text-align: left;
    }

    th, td {
        padding: 0.1em 1em;
    }



    .botoes {
        overflow-x: auto;
        border: 1px solid #000000;
        margin: 2px;
        display: table;
        float: left;
        background-color: #3d80df;
        width: 100px;
        height: 10px;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
    }

    #botoes {
        width: 100%;
        margin: 2px;
    }

    #fechar {
        background-color: blue;
    }

    #livre {
        background-color: green;
    }

    #uso {
        background-color: red;
    }
     <hr />
    <div id="numero_mesa">
        <h4>MESA: </h4>
    </div>
    <div id="pedidos">
        <div class="row">
            <div class="col-md-12">
                <table id="grid_cadastro" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Qtde</th>
                            <th>Produto</th>
                            <th>VALOR</th>
                            <th>Pago</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>SKOL</td>
                            <td>R$ 10,00</td>
                            <td><input type="checkbox" /></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>BATATA 500G</td>
                            <td>R$ 10,00</td>
                            <td><input type="checkbox" /></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>SUCO NATURAL DE LARANJA 300 ML</td>
                            <td>R$ 10,00</td>
                            <td><input type="checkbox" /></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>SUCO NATURAL DE LARANJA 300 ML</td>
                            <td>R$ 10,00</td>
                            <td><input type="checkbox" /></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>SUCO NATURAL DE LARANJA 300 ML</td>
                            <td>R$ 10,00</td>
                            <td><input type="checkbox" /></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>SUCO NATURAL DE LARANJA 300 ML</td>
                            <td>R$ 10,00</td>
                            <td><input type="checkbox" /></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>SUCO NATURAL DE LARANJA 300 ML</td>
                            <td>R$ 10,00</td>
                            <td><input type="checkbox" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="total">
        <br />
        <p>Total da venda: </p>
        <p>Pagamento antecipado: </p>
        <p>Pagamento pendente: </p>
    </div>
    <hr />
    ##############################################
     <div class="container col-md-12" onclick="">
        <div class="botoes">
            <p>Abrir</p>
        </div>
        <div class="botoes">
            <p>Gravar</p>
        </div>
        <div class="botoes">
            <p>Fechar Conta</p>
        </div>
        <div class="botoes">
            <p>Pagar</p>
        </div>
        <div class="botoes">
            <p>Imprimir</p>
        </div>
        <div class="botoes">
            <p>Transferir</p>
        </div>
        <div class="botoes">
            <p>Reabrir Conta</p>
        </div>
        <div class="botoes">
            <p>Juntar Conta</p>
        </div>
        <div class="botoes">
            <p>Excluir Item</p>
        </div>
        <div class="botoes">
            <p>Cancelar Item</p>
        </div>
    </div>
    ##################################3
    <div class="row">
    <div class="col-md-12 text-center">
        <div>
            <a class="btn btn-primary btn-abrir"><i class="glyphicon glyphicon-plus"></i> Abrir</a>
            <a class="btn btn-primary btn-prfechamento" role="button"><i class="glyphicon glyphicon-plus"></i> Pré fechamento</a>
            <a class="btn btn-primary btn-excluir" role="button"><i class="glyphicon glyphicon-plus"></i> Fechar conta</a>
            <a class="btn btn-primary btn-excluir" role="button"><i class="glyphicon glyphicon-plus"></i> Enviar impressão</a>
        </div>
    </div>

</div>
    ###########################################
<div class="row">
    <div class="col-md-12 text-center">
        <div>
            <a class="btn btn-primary btn-excluir" role="button"><i class="glyphicon glyphicon-plus"></i> Transferir</a>
            <a class="btn btn-primary btn-excluir" role="button"><i class="glyphicon glyphicon-plus"></i> Pagamento Parcial</a>
            <a class="btn btn-primary btn-excluir" role="button"><i class="glyphicon glyphicon-plus"></i> Reabrir conta</a>
            <a class="btn btn-primary btn-excluir" role="button"><i class="glyphicon glyphicon-plus"></i> Cancelar conta</a>
        </div>
    </div>
</div>



     <div class="col-md-3">
    <div class="form-check">
        @Html.RadioButton("rb_mesa", new { @class = "form-check-input" })
        @Html.Label("rb_mesa", "Mesa", new { @class = "form-check-label" })
    </div>
</div>

<div class="col-md-4">
    <div class="form-check">
        @Html.RadioButton("rb_comanda", new { @class = "form-check-input" })
        @Html.Label("rb_comanda", "Comanda", new { @class = "form-check-label" })
    </div>
</div>


    -->
<!--######################################-->
<!--
            <label>Usuario: </label>
        <div id="cabecalho_mesas">

        </div>
        <hr />
###################
 <label>Legenda</label>
            <div class="row text-center">
                <div class="col-md-2">
                    <input id="livre" placeholder="Livre">
                </div>
                <div class="col-md-2">
                    <div class="form-check">
                        <input id="uso" placeholder="Em uso">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-check">
                        <input id="fechar" placeholder="Pediu a conta">
                    </div>
                </div>
            </div>
-->
